{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProductPresentations list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Baseunitquantity</th>
                <th>Weight</th>
                <th>Sizex</th>
                <th>Sizey</th>
                <th>Sizez</th>
                <th>Candivide</th>
                <th>Ispreferred</th>
                <th>Isbase</th>
                <th>Createddate</th>
                <th>Updateddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('productpresentations_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.baseUnitQuantity }}</td>
                <td>{{ entity.weight }}</td>
                <td>{{ entity.sizeX }}</td>
                <td>{{ entity.sizeY }}</td>
                <td>{{ entity.sizeZ }}</td>
                <td>{{ entity.canDivide }}</td>
                <td>{{ entity.isPreferred }}</td>
                <td>{{ entity.isBase }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedDate %}{{ entity.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('productpresentations_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('productpresentations_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('productpresentations_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
